.mainContainer {
  margin-top: 10vh;
  /* position: relative; */
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 20vh 30vh;
  grid-template-columns: repeat(2, 50vw);
}

.sectionTitle {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
  font-size: 2vw;
  justify-content: center;
  align-items: center;
}

.containerPict {
  margin-top: 5vh;
  width: 30vw;
  height: 15vh;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  margin-left: 10vw;
  box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
}

.containerPict img {
  justify-content: center;
  align-items: center;
  filter: grayscale(100%);
  transition: 0.3s ease-in-out;
}

.containerPict :hover img {
  filter: grayscale(0) brightness(0.7);
}

.textContainer {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  display: flex;
  text-align:justify;
  margin-left: 10vw;
  margin-top: 5vh;
  font-size: 1.2vw;
}
