/* Contact.module.css */

.mainContainer {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 20vh 1fr 1fr;
  grid-template-columns: repeat(2, 1fr);
}

.sectionTitle {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}

.button {
  
  background-color: #161616; 
  border-radius: 5px;
  color: #fff; 
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  width: 20vw;
  margin-bottom: 10vh;
}

.button:hover {
  background-color: #0056b3; 
}

.textContainer {
  width: 50vw;
  display: flex;
  justify-content:space-around;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* border: 1px solid black; */
  margin-left: 2rem;
  padding: 2rem;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 5px;
  z-index: 1000;
}

.contactForm {
  flex: 1;
  padding: 1rem;
}

.heading {
  font-size: 24px;
  margin-bottom: 1rem;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input,
.textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
}

.textarea {
  resize: vertical;
  min-height: 150px;
}

.imageContainer {
  flex: 1;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


