/* Contact.module.css */

.mainContainer {
  margin-top: 10vh;
  height: 80vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 20vh 30vh 30vh;
  grid-template-columns: repeat(2, 50vw);
  overflow: hidden;
}

.sectionTitle {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
  font-size: 2vw;
}

.button {
  background-color: #161616; 
  border-radius: 5px;
  color: #fff; 
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  width: 20vw;
  margin-bottom: 10vh;
  margin-top: 10vh;
  font-size: 1.5vw;
}

.button:hover {
  background-color: #EB5E59; 
}

.textContainer {
  width: 40vw;
  display: flex;
  justify-content:space-around;
  flex-direction: column;
  align-items: center;
  text-align:justify;
  margin-left: 2vw;
  margin-top: 5vh;
  font-size: 1.5vw;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 5px;
  z-index: 1000;
}

.contactForm {
  flex: 1;
  padding: 1vw;
}

.heading {
  font-size: 2vw;
  margin-bottom: 1vh;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.input,
.textarea {
  width: 40vw;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
}

.textarea {
  resize: vertical;
  min-height: 15vh;
}

.imageContainer {
  position: relative;
  width: 40vw;
  height: 80vh;
  margin-top: 10vh;
  background: rgba(0, 0, 0, 0);
  transform: rotate(-30deg) skew(25deg) scale(0.8);
  transition: 0.5s;
}

.bloc {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  justify-content: center;
  margin-left: 10vw;
}

.image1Container, .image2Container, .image3Container, .image4Container {
  position: absolute;
  left: 15rem;
  opacity: 1;
  width: 100%;
  transition: 0.5s;
}

.imageContainer:hover .image1Container{
  transform: translate(40px, -40px);
  opacity: 0.4;
}

.imageContainer:hover .image2Container{
  transform: translate(80px, -80px);
  opacity: 0.6;
}

.imageContainer:hover .image3Container{
  transform: translate(120px, -120px);
  opacity: 0.8;
}

.imageContainer:hover .image4Container{
  transform: translate(160px, -160px);
  opacity: 1;
}