.container{
    width: 100vw;
    height: 20vh;
    background-color: #4A5966 ;
}

.list {
    list-style-type: none;
}

.aboutMeContainer {
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: #F7F5FA;
}

.law {
    display: flex;
    justify-content: center;
}

.linkedIn {
   margin: 1rem;
    height: 3rem;
    width: 3rem;
}