.menu {
  position: fixed;
  width: 100vw;
  background-color: transparent;
  z-index: 999;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contentMenu {
  margin-top: 2vh;
  padding: 1vh 1vw;
  background-color: rgba(90, 115, 154, 0.5);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 2);
  border-radius: 5px;
  color: #ffffff;
}

.contentMenu:hover {
  background-color: #f7f5fa;
  cursor: pointer;
}

.menu a {
  color: #f7f5fa;
  text-decoration: none;
}

.contentMenu:hover a {
  color: #4a5966;
}
