.menu {
  position: fixed;
  width: 100%;
  background-color: transparent;
  z-index: 999;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contentMenu {
  margin-top: 1rem;
  padding: 1rem 1rem;
  background-color: rgba(90, 115, 154, 0.5);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 2);
  border-radius: 5px;
}

.contentMenu:hover {
  background-color: #eb5e59;
  cursor: pointer;
}

.menu a {
  color: #000;
  text-decoration: none;
}
