.body {
  background-image: url("../assets/aurora.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 4rem 0;
}

.title {
  line-height: 1.15;
  font-size: 4rem;
  display: flex;
  text-align: center;
  font-family: Rochester-Regular;
  color: #dddddd;
  margin-top: 2%;
}
