.mainContainer {
  height: 200vh;
  width: 100vw;
  padding-top: 5vh;
}

.sectionTitle {
  text-align: center;
  font-size: 2vw;
}

.grid {
  display: grid;
  grid-template-rows: repeat(3, 60vh);
  grid-template-columns: repeat(2, 40vw);
  gap: 2vw;
}

.div1 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}

.div2 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}

.div3 {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
}

.divImg1,
.divImg3 {
  margin-top: 10vh;
  margin-left: 20vw;
  position: absolute;
}

.divImg2 {
  margin-top: 10vh;
  margin-left: 80vw;
  position: absolute;
}

.divImg1:hover .title1,
.divImg2:hover .title2,
.divImg3:hover .title3 {
  opacity: 0;
}

.img1,
.img3 {
  height: 40vh;
  width: 20vw;
  background-color: #bfd6e7;
  box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.2);
  transform: translateX(-200%);
}

.img2 {
  height: 40vh;
  width: 20vw;
  background-color: #bfd6e7;
  box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.2);
  transform: translateX(200%);
}

.divImg1:hover .img1,
.divImg2:hover .img2,
.divImg3:hover .img3 {
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
}

.divImg1 .glowWrap,
.divImg2 .glowWrap2,
.divImg3 .glowWrap3 {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.glowWrap2 {
  right: 20vw;
}

.divImg1 .glow,
.divImg2 .glow2,
.divImg3 .glow3 {
  position: absolute;
  width: 55%;
  height: 200%;
  background: rgba(255, 255, 255, 0.2);
  top: 0;
  left: 20vw;
  filter: blur(5px);
  transform: rotate(45deg) translate(-450%, 0);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.divImg1:hover .glow, .divImg2:hover .glow2, .divImg3:hover .glow3 {
  transform: rotate(45deg) translate(450%, 0);
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.divImg1:hover .img1,
.divImg1:hover .glowWrap, .divImg2:hover .img2,
.divImg2:hover .glowWrap2, .divImg3:hover .img3,
.divImg3:hover .glowWrap3 {
  margin-top: 2vh;
}

.title1, .title2, .title3 {
  width: 20vw;
  position: absolute;
  z-index: 1;
  top: 15vh;
  font-size: 2vw;
  line-height: 1.2;
  text-align: center;
  background-color: rgba(247, 245, 255, 0.701);
}

.title1, .title3 {
  left: 60vw;
}

.title2 {
  left: -80vw;
}

.textContainer1, .textContainer2, .textContainer3 {
  opacity: 0;
  width: 30vw;
  max-height: 40vh;
  position: absolute;
  margin-top: 12vh;
  display: flex;
  flex-direction: column;
  justify-content:center;
  gap: 1vh;
  transition: transform 0.5s ease-in-out;
}

.textContainer1, .textContainer3 {
  margin-left: 55vw;
}

.textContainer2 {
  margin-left: 20vw;
}

.divImg1:hover + .textContainer1, .divImg2:hover + .textContainer2, .divImg3:hover + .textContainer3 {
  opacity: 1;
}

.question {
  font-size: 1vw;
}

.avantage {
  color: #eb5e59;
  font-size: 1vw;
}

.answer {
  font-size: 1vw;
  width: 20vw;
  max-height: 40vh;
}

.slideInImage {
  transform: translateX(0);
  opacity: 1;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.slideInImageD {
  transform: translateX(0);
  opacity: 1;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.slideInText {
  transform: translateX(-100%);
  transition: transform 0.5s ease;
}

.slideInTextG {
  transform: translateX(100%);
  transition: transform 0.5s ease;
}
