/* @keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
} */

.container {
  height: 200vh;
  width: 100vw;
  padding-top: 10vh;
}

.sectionTitle {
  text-align: center;
  font-size: 2rem;
}

.grid {
  margin-top: 10vh;
  display: grid;
  grid-template-rows: repeat(3, 60vh);
  grid-template-columns: repeat(2, 50vw);
  gap: 20px;
}

.div1 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}

.divImg1 {
  margin-top: 10vh;
  margin-left: 20vw;
  position: absolute;
}

.divImg1:hover .title1 {
  opacity: 0;
}

.img1 {
  height: 40vh;
  width: 20vw;
  background-color: #bfd6e7;
  box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.2);
  transform: translateX(-200%);
}

.divImg1:hover .img1 {
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
}

.divImg1 .glowWrap {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.divImg1 .glow {
  position: absolute;
  width: 55%;
  height: 200%;
  background: rgba(255, 255, 255, 0.2);
  top: 0;
  left: 20vw;
  filter: blur(5px);
  transform: rotate(45deg) translate(-450%, 0);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.divImg1:hover .glow {
  transform: rotate(45deg) translate(450%, 0);
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.divImg1:hover .img1,
.divImg1:hover .glowWrap {
  margin-top: 2vh;
}

.divImg1:hover + .textContainer1 {
  opacity: 1;
}

.title1 {
  width: 18vw;
  position: absolute;
  z-index: 1;
  top: 15vh;
  left: 60vw;
  font-size: 2rem;
  line-height: 1.2;
  margin: 0;
  text-align: center;
  background-color: rgba(247, 245, 255, 0.701);
}

.title1:hover {
  opacity: 0;
}

.textContainer1 {
  opacity: 0;
  width: 30vw;
  left: 30vw;
  margin-top: 13vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1vh;
  transform: translateX(100%) scale(1);
  transition: transform 0.5s ease-in-out;
  position: absolute;
}

.div2 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}

.divImg2 {
  margin-top: 10vh;
  left: 80vw;
  position: absolute;
}

.divImg2:hover .title2 {
  opacity: 0;
}

.img2 {
  height: 40vh;
  width: 20vw;
  background-color: #eb5e59;
  box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.2);
  transform: translateX(200%);
}

.divImg2:hover .img2 {
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
}

.divImg2 .glowWrap2 {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.divImg2 .glow2 {
  position: absolute;
  width: 55%;
  height: 200%;
  background: rgba(255, 255, 255, 0.2);
  top: 0;
  left: 20vw;
  filter: blur(5px);
  transform: rotate(45deg) translate(-450%, 0);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.divImg2:hover .glow2 {
  transform: rotate(45deg) translate(450%, 0);
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.divImg2:hover .img2,
.divImg2:hover .glowWrap2 {
  margin-top: 2vh;
}

.title2 {
  width: 26vw;
  position: absolute;
  z-index: 1;
  top: 15vh;
  left: -89vw;
  font-size: 2rem;
  line-height: 1.2;
  margin: 0;
  text-align: center;
  background-color: rgba(247, 245, 255, 0.701);
  /* transform: translateX(-200%); */
}

.title2:hover {
  opacity: 0;
}

.textContainer2 {
  opacity: 0;
  width: 30vw;
  left: 47vw;
  margin-top: 13vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1vh;
  transform: translateX(-100%) scale(1);
  transition: transform 0.5s ease-in-out;
  position: absolute;
}

.divImg2:hover + .textContainer2 {
  opacity: 1;
}

.div3 {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
}

.divImg3 {
  margin-top: 10vh;
  margin-left: 20vw;
  position: absolute;
}

.divImg3:hover .title3 {
  opacity: 0;
}

.img3 {
  height: 40vh;
  width: 20vw;
  color: #bfd6e7;
  box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.2);
  transform: translateX(-200%);
}

.divImg3:hover .img3 {
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
}

.divImg3 .glowWrap3 {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.divImg3 .glow3 {
  position: absolute;
  width: 55%;
  height: 200%;
  background: rgba(255, 255, 255, 0.2);
  top: 0;
  left: 20vw;
  filter: blur(5px);
  transform: rotate(45deg) translate(-450%, 0);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.divImg3:hover .glow3 {
  transform: rotate(45deg) translate(450%, 0);
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.divImg3:hover .img3,
.divImg3:hover .glowWrap3 {
  margin-top: 2vh;
}

.divImg3:hover + .textContainer3 {
  opacity: 1;
}

.title3 {
  width: 18vw;
  position: absolute;
  z-index: 1;
  top: 15vh;
  left: 60vw;
  font-size: 2rem;
  line-height: 1.2;
  margin: 0;
  text-align: center;
  background-color: rgba(247, 245, 255, 0.701);
}

.title3:hover {
  opacity: 0;
}

.textContainer3 {
  opacity: 0;
  width: 30vw;
  left: 30vw;
  margin-top: 18vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1vh;
  transform: translateX(100%) scale(1);
  transition: transform 0.5s ease-in-out;
  position: absolute;
}

.slideInImage {
  transform: translateX(0);
  opacity: 1;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.slideInImageD {
  transform: translateX(0);
  opacity: 1;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.slideInText {
  transform: translateX(-100%); 
  transition: transform 0.5s ease;
}

.slideInTextG {
  transform: translateX(100%); 
  transition: transform 0.5s ease;
}

.avantage {
  color: #eb5e59;
}
