.blocPictText {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.img1 {
  height: 40vh;
  width: 20vw;
  background-color: transparent;
  margin: 5%;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.img2 {
  height: 40vh;
  width: 20vw;
  background-color: #EB5E59;
  margin: 5%;
}

.img3 {
  height: 40vh;
  width: 20vw;
  background-color: #BFD6E7;
  margin: 5%;
}

