.svg {
  padding: 5vw;
  width: 90vw;
}

.svg > * { 
  fill: #5A739A;
  stroke: #5A739A;
  stroke-width: 2px;
}

/* hover tip */

@keyframes tip {
  0%, 100% { opacity: 0; }
  10%, 80% { opacity: 1; }
}

.body:hover:after {
  content: "Hover to Slow Motion";
  position: absolute;
  left: 0; right: 0; bottom: 1vh;
  color: #5A739A;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font: 700 9px/14px Tahoma, sans-serif;
  animation: tip 2.5s forwards;
}
