.mainContainer {
    margin-top: 20vh;
    height: 120vh;
    width: 100vw;
    background-color: #5A739A;
}

.sectionTitle {
  padding-top: 12vh;
  text-align: center;
  font-size: 2vw;
}

.carousel {
    padding-top: 2vh;
}

.carouselItem {
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  margin: 10px;
}

.imageTitle {
  margin-top: 2rem;
}

.title {
  font-size: 2vw;
  font-weight: bold;
  color: #333;
}

.titlePos {
  margin-top: 2vh;
  font-size: 1vw;
}

.description {
  font-size: 1vw;
  color: #777;
  margin-top: 2rem;
}
